# .github/workflows/build-and-cache.yml
name: "Build and Cache Flake Packages"

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    environment: Cachix
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v4

      - name: "Install Nix"
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: "Configure Cachix"
        uses: cachix/cachix-action@v15
        with:
          # The cache name is now hardcoded here
          name: "aurora" 
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: "Build proton-sarek and Push to Cachix"
        # The cache name is also hardcoded here
        run: cachix watch-exec aurora -- nix build .#proton-sarek-async

      - name: "Build ZSnoW and Push to Cachix"
        run: cachix watch-exec aurora -- nix build .#zsnow --accept-flake-config